#container{ 
    background-color: #bbb;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
} 


li:hover{
    border: 2px solid rgb(215, 237, 19);
    transform: scale(1.3);
}